@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600&display=swap');

:root {
  --main-color : #604E3A;
  --main-color-dark : #291C0F;
  --doc-bg-color : #F4EBE1;
  --title-color : #D49A7A;
  --app-bg-color: #FFFFFF;
  --time-color: #AA9379;
}

html {
  background-color: var(--doc-bg-color);
  height: 100vh;
}

body {
  font-family: Archivo;
  color: var(--main-color);
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
}

.app {
  background-color: var(--app-bg-color);
  padding: 2rem;
  border-radius: 0.625rem;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.05), 0px 4px 70px rgba(0, 0, 0, 0.13);
  min-width: 22rem;
  max-width: 40rem;
}

/* App header */
.header {
  margin-bottom: 2rem;
}

.header-artist-name {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: .75rem;
  margin-bottom: .25rem;
}

.header-title {
  font-weight: 600;
  margin: 0;
  margin-bottom: 1rem;
}

.header-cover {
  width: 8rem;
  height: auto;
}

/* Playlist */

.playlist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.playlist-item {
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
}


.playlist-track {
  flex-grow: 1;
}

.playlist-title {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}

.playlist-time {
  margin: 0;
  color: var(--time-color);
  font-size: .75rem;
}

.playlist-item::before {
  content: "";
  background-color: var(--title-color);
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-image: url(img/icons/music-note.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* Boutons */
.random {
  background-color: var(--main-color);
  border: 0;
  border-radius: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0.75rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: all .2s;
}

.random:hover {
  transform: rotate(180deg);
  background-color: var(--main-color-dark);
}
